---   
---   

<h1 align="center">ExD</h1>
<h1 align="center">Course: Advanced Python Programming Language</h1>


---
<h3><div align="right">Instructor: Kiran Khursheed</div></h3>

<h1 align="center">Python Tuples</h1>

## _Python-Tuples.ipynb_
#### [Click me to learn more about Python Tuples](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

<img align="center" width="800" height="800"  src="images/datatypes1.png" >

> **A Tuple is a numerically ordered sequence of elements that can store elements of heterogeneous types, is iterable, immutable and allows duplicate elements.**

- Like Lists, a Tuple in Python is also an ordered collection of values.
- Like Lists, a Tuple is created by placing comma separated values, but in parenthesis rather square brackets. 
- Like List, a Tuple also allows us to store elements of different data types in one container.
- Unlike List, it is not possible to add, remove, or modify values in a Tuple, so you can think of tuples as immutable Lists.
- Apart from this, every operation that we can perform on Lists that do not modify them, can be performed on Tuples as well.
- To be honest, Tuples are not used as often as Lists in programming, but are used when immutability is necessary.
- When to prefer Tuples over Lists?
    - While passing an object to a function, if you want to make sure that the object does not get changed, then Tuple become your solution. So Tuples provides a convenient source of data integrity.
    - Similarly, since functions can return only one value, if you want a function to return more than one value, you pack your result in a tuple and return it
    - Manipulating elements of a Tuple is far more efficient than manipulating elements of a List.
    - Tuples being immutable are used in Dictionaries as keys (which are immutable).

## Learning agenda of this notebook
1. How to create Tuples?
2. Proof of concepts: Tuples are heterogeneous, ordered, nested, immutable, and allow duplicate elements
3. Different ways to access elements of a Tuple?
4. Slicing a Tuple
5. Tuple concatenation and repetition
6. Being immutable, you cannot add elements to a Tuple
7. Being immutable, you cannot remove elemenst from a Tuple
8. Converting string object to Tuple and vice-versa (using type casting, `split()` and `join()`)
9. Tuple methods
10. Sorting a Tuple using built-in `sorted()` function

In [ ]:
help(tuple)

## 1. How to create Tuples?
- A Tuple is created by placing comma separated values in parenthesis (or without prenthesis as well)

In [ ]:
a,b,c,d = 1,2,3,3

In [ ]:
x = a,b,c,d
type(x)

In [ ]:
t1 = (1, 2, 3, 4, 5)   #tuple of integers
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)

t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)

t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)

t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)


print("Type of t4 is: ", type(t4))

In [ ]:
# creating empty tuple
t5 = ()
print("t5: ", t5)

In [ ]:
# to create a tuple with only one element is a bit tricky
t6 = (25,)       # note the comma, without it, Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

In [ ]:
# Nested Tuple: a tuple can also have another tuple as an item
t1 = ("Kiran", 30, 5.5, (10,'Khursheed'))
print(t1)

In [ ]:
# Nested tuple: A tuple can also have another tuple, or list as an item
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
print("t1: ", t1)
print("Type of t1 is: ", type(t1))
print(t1[2][1])

## 2. Proof of Concepts:

### a. Tuples are Heterogeneous
- Like Lists, Tuples are heterogeneous, as their elements/items can be of any data type

In [ ]:
t1 = ("Kiran", 30, 5.5)
print("t1: ", t1)

### b. Tuples are ordered
- Like Lists Tuples are ordered.
- Tuples are ordered means every element is associated by an index.
- Every time you access tuple elements they will show up in same sequence. 
- Moreover, two tuples having same elements in different order are not same.

In [1]:
a = (1, 2, 3)
b = (2, 3, 1)
id(a), id(b), a is b, a == b

(2852486616000, 2852486430336, False, False)

### c. Tuples are immutable
- Unlike Lists Tuples are immutable
- Means once a tuple object is created, you CANNOT make changes to it and modify its elements

In [ ]:
numbers = list(numbers)
type(numbers)

In [2]:
# Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
numbers[2] = 15    # this will generate an error

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tupple however can be reassigned
numbers = (10, 20, 30)
numbers = (1, 2, 3)  # A tupple can be reassigned
numbers

Remember the tuple object `(10,20,20)` in memory has become an orphan, since the numbers variable is now pointing to another tuple object `(1,2,3)` in memory. The unreferenced tuple object will be garbage collected by Python garbage collector

In [4]:
# A List within a tuple is still mutable
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
t1[2][1] = 'Not OK'         # will work fine
t1

(1, 'Hello', [8, 'Not OK', 6], (1, 2, 'BYE'), 5.5)

In [6]:
type(t1[2])

list

In [5]:
t1[2] = 'kiran'

TypeError: 'tuple' object does not support item assignment

### d. Tuples can have duplicate elements

In [7]:
# Like Lists, Tuples allow duplicate elements
names = ('Kiran', 'Aqsa', 'Sana', 'Kiran', 'Wajeeha')
print(names)

('Kiran', 'Aqsa', 'Sana', 'Kiran', 'Wajeeha')

### e. Tuples can be nested to arbitrary depth
- Like Lists, you can have tuples within tuples and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [ ]:
# A tuple having two sub-tuples within it
a = (1,2,3,(4,5),(6,7,8,9),10,11)
# A tuple having a sub-tuple, which is further having a sub-tuple and that again having a subtuple
b = (1,2,3,(4,5,(6,7,8,(9,10,11))))
a, b

### f. Packing and Unpacking Tuples

In [8]:
# you can unpack tuple elements
t1 = ('learning', 'is', 'fun', 'with', 'Kiran')
a, b, c, d, e = t1 # the number of variables on the left must match the length of tuple
print (a, c, e)
print(type(a))

learning fun Kiran
<class 'str'>

In [9]:
# you can pack individual elements to a tuple
t1 = a,b,c,d,e
print(t1)
print(type(t1))

('learning', 'is', 'fun', 'with', 'Kiran')
<class 'tuple'>

## 3. Different ways to access Elements of a Tuple
- Since Tuple like List is of type Sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Tuple as well
- Similarly, if we want to find out the index of a specific item/character, we can use the `index()` method of Tuple class

In [12]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("Kiran", 30, 5.5, (10,'Khursheed'))

print(t1[2])       #accessing element of tuple at index2
print(t1[3])       #accessing element of tuple at index3, which is again a tuple

#accessing Nested tuple element
print(t1[0][2])              #accessing third character of a tuple element at index 0
print(t1[3][1][7])              #accessing second element of Nested tuple at index 3
print(t1[2])

5.5
(10, 'Khursheed')
r
e
5.5

In [13]:
#Negative indexing starts looking at the tuple from the right hand side
t1 = ("Kiran", 30, 5.5, (10,'Khursheed'))
print(t1[-1])                #accessing last element
print(t1[-2])                #accessing second last element

(10, 'Khursheed')
5.5

In [14]:
help(t1.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [15]:
# index(value) method is used when you know the tuple element and wants to get its index
# index(value) method returns the index of the first matched item with its only argument
mytuple = (27, 4.5, 'kiran', 64, 'khursheed', 19, 'aqsa')
print("\nmytuple: ", mytuple)
print("mytuple.index(3): ", mytuple.index('kiran'))

mytuple:  (27, 4.5, 'kiran', 64, 'khursheed', 19, 'aqsa')
mytuple.index(3):  2

## 4. Slicing Tuples
- Like anyother sequence object we can perform slicing with tuples as well.
- Slicing is the process of obtaining a portion of a tuple by using its indices.
- Given a tuple, we can use the following template to slice it and obtain a sublist:
```
mytuple[start:end:step]
```

- **start** is the index from where we want the subtuple to start.If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our subtuple to end (not inclusive in the subtuple). If end is not provided, slicing goes till the last element of the tuple.
- **step** is the step through which we want to skip elements in the tuple. The default step is 1, so we iterate through every element of the tuple.

In [16]:
t1 = ('a','b','c','d','e','f','g','h','i')
t1

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [17]:
t1[::]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [18]:
t1[3:]

('d', 'e', 'f', 'g', 'h', 'i')

In [19]:
t1[:4]

('a', 'b', 'c', 'd')

In [20]:
t1[2:5]

('c', 'd', 'e')

In [21]:
t1[:-2]

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [22]:
t1[-1]

'i'

In [23]:
t1

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

In [24]:
# Slicing by using strides
print(t1[::])  # A default step of 1
print(t1[::1])  # A step of 1
print(t1[::2])  # A step of 2
print(t1[::3])  # A step of 3

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
('a', 'c', 'e', 'g', 'i')
('a', 'd', 'g')

In [25]:
# Reverse slicing
print(t1[::-1]) # Take 1 step back each time
print(t1[5:1:-1]) # Take 1 step back each time
#if start is less than end in case of a negative step, it will return empty string
print(t1[2:10:-1])
print(t1[::-2]) # Take 2 steps back

('i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
('f', 'e', 'd', 'c')
()
('i', 'g', 'e', 'c', 'a')

In [27]:
# You CANNOT use slice operator on the left side of assignment as tuple is immutable
t1 = (1, 2, 3, 4, 5, 6, 7)
#t1[2:4] = ['a', 'b', 'c']  # will generate an error as 'tuple' object does not support item assignment

## 5. Tuple Concatenation and Repetition
- The `+` operator is used to concatenate two or more tuples
- The `*` operator is used to repeat or replicate

### a. Concatenating Tuples

In [28]:
# Add some elements to the end of an existing tuple using concatenation operator
a = (1,2,3)
b = a + (4,5)
# Add some elements to the beginning of an existing tuple using concatenation operator
c = (0,) + b
a, b, c

((1, 2, 3), (1, 2, 3, 4, 5), (0, 1, 2, 3, 4, 5))

In [29]:
# use + operator to concatenate two tuples
food_items1 = ('fruits', 'bread', 'veggies')
food_items2 = ('meat', 'spices', 'burger')
food = food_items1 + food_items2
print(food)

('fruits', 'bread', 'veggies', 'meat', 'spices', 'burger')

In [ ]:
# You can concatenate two heterogeneous tuples
t1 = (5, 3.4, 'hello')
t2 = (31, 9.7, 'bye')
t3 = t1 + t2
print(t3)

In [ ]:
num1 = (1,2,3)
num2 = num1 + (4, 5, 6, (7, 8))
print (num2)

### b. Replicating Tuples

In [30]:
# use tuple * n syntax to create large tuples by repeating the tuple n times
name = ('Kiran', 'Khursheed', 'Hrm')
a = name * 3
print(a)

('Kiran', 'Khursheed', 'Hrm', 'Kiran', 'Khursheed', 'Hrm', 'Kiran', 'Khursheed', 'Hrm')

In [31]:
#tuple of 100 K's
buf = ('K',)
newbuf = buf * 100
print(newbuf)
type(newbuf)

('K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K', 'K')

tuple

## 6. Being immutable, you cannot add elements to a tuple (in list this is possible using `append`, `extend`, and `insert`)

In [32]:
myfamily = ("Khursheed", 'Aqsa', 'Sana')
print("\n myfamily tuple: ", myfamily)
myfamily.insert(2,'Kiran') # will generate an error as tuple object has no attribute 'insert'

 myfamily tuple:  ('Khursheed', 'Aqsa', 'Sana')

AttributeError: 'tuple' object has no attribute 'insert'

## 7. Being immutable, you cannot remove elements from a tuple (in list this is possible using `pop` and `remove` methods)

In [35]:
tuple1 = ('learning', 'is', 'fun', 'with', 'kiran', 'khursheed')

#You cannot delete items from a tuple using del keyword
#del tuple1[3]    # will generate an error as tuple object doesn't support item deletion

# However, you can assign a new tuple object to the reference tuple1
tuple1 = (1, 2, 3, 'kiran')
# However, you can delete an entire tuple object using del keyword
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

## 8. Converting String object to List/Tuple and vice-versa

### a. Type Casting

In [36]:
# convert a string into tuple using tuple()
str1 = 'Learning is fun'    #this is a string

print("Original string: ", str1, "and its type is:  ", type(str1))
t1 = tuple(str1)
print("t1: ", t1, "and its type is:  ", type(t1))

Original string:  Learning is fun and its type is:   <class 'str'>
t1:  ('L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'f', 'u', 'n') and its type is:   <class 'tuple'>

### b. Use `str.split()` to Split a Tuple into Strings
- Used to tokenize a string based on some delimiter, which can be stored in a tuple
- It returns a list, so we need to type cast the returned object to a tuple

In [ ]:
str1 = ""
help(str1.split)

In [39]:
str1 = 'Learning is fun'    #this is a string
print(str1.split(' '))
t1 = tuple(str1.split(' ')) # The split() method returns a list, which you can typecast to a tuple
print(t1)
print(type(t1))

['Learning', 'is', 'fun']
('Learning', 'is', 'fun')
<class 'tuple'>

In [40]:
str2 = "Advanced Python is GR8 Course"    #this is a string
t2 = tuple(str2.split('c'))
print(t2)
print(type(t2))

('Advan', 'ed Python is GR8 Course')
<class 'tuple'>

### c. Use `str.join()` to Join Strings into a Tuple
- The `str.join()` is the reverse of split() method, and is used to joing multiple strings by inserting the string in between on which this method is called
- Remember, you can pass any iterable as argument to `str.join()` method

In [41]:
str = "" # not a good thing to do 
help(str.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [42]:
t1 = ('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')
t1

('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')

In [43]:
str2 = ' '.join(t1)
str2, type(str2)

('This is getting more and more interesting', str)

In [44]:
delimiter = " # "
str3 = delimiter.join(t1)
print(str3)
print(type(str3))

This # is # getting # more # and # more # interesting
<class 'str'>

## 9. Misc Tuple Methods in Python
- Tuples have built-in methods, but not as many as Lists do. Lets look at two of them:
    - The `t1.index(val)` method takes the value and returns the first index where that value resides in the tuple
    - The `t1.count(val)` method takes exactly one argument and returns the number of times a that value occurs in a tuple

In [46]:
t1 = (3, 8, 1, 6, 0, 8, 4,6)
rv = t1.index(6)
print(rv)

3

In [49]:
t1 = (3, 8, 1, 6, 8, 0, 8, 4)
rv = t1.count(8)
print(rv)

3

**Like Lists, you can apply `max()`, `min()`, and `sum()` functions on tuples with numeric elements**

In [51]:
t1 = (3, 18, 1, 6, 0, 8, 4)
print("length of list: ", len(t1))
print("max element in list: ", max(t1))
print("min element in list: ",min(t1))
print("Sum of element in list: ",sum(t1))

length of list:  7
max element in list:  18
min element in list:  0
Sum of element in list:  40

**Like Lists, you can apply `in` and `not in` membership operators on Tuples**

In [52]:
t1 = (3, 8, 1, 6, 0, 8, 4)
rv1 = 9 in t1 
print(rv1)

rv2 = 9 not in t1
print(rv2)


t2 = ("XYZ", "ABC", "MNO", "KIRAN")
rv3 = "KIRAN" in t2
print(rv3)

rv3 = "kiran" in t2
print(rv3)

False
True
True
False

**Comparing Objects and Values**

In [53]:
#In case of strings, both variables str1 and str2 refers to the same memory location containing string object 'hello'
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)  # == operator is checking the contents of two strings

2852482721264 2852482721264
True
True

In [54]:
#In case of tuples, both t1 and t2 refers to two different objects in the memory having same values
t1 = (1, 2, 3)
t2 = (1, 2, 3)
print(id(t1), id(t2))

print (t1 is t2)   # is operator is checking the memory address (ID) of two tuples
print (t1 == t2)   # == operator is checking the contents of two tuples element by element

2852486525632 2852486755072
False
True

## 10. Sorting a Tuple
- Python’s built-in `sorted()` function can be used to sort iterable objects, such as lists, tuples, and dictionaries. - We have seen its usage in our Tuple session.
- The `sorted()` function sorts the items of the specified iterable object and creates a new object with the newly sorted values.
- It's syntax is as shown below:
```
    sorted(object, key=None, reverse=False)
```
- Where:
    - `object`: the iterable object that you want to sort (required)
    - `key`: the function that allows you to perform custom sort operations (optional)
    - `reverse`: specifies whether the object should be sorted in descending order (optional)- default value is False

In [55]:
# Sorting a Dictionary by it values with numeric values

t1 = (3, 8, 1, 6, 0, 8, 4)

print("Original Tuple = ", t1)


list1 = sorted(t1)
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Original Tuple =  (3, 8, 1, 6, 0, 8, 4)
Ascending Sort:  [0, 1, 3, 4, 6, 8, 8]
Descending Sort:  [8, 8, 6, 4, 3, 1, 0]

In [56]:
# Sorting a tuple with string values

t1 = ("XYZ", "ABC", "MNO", "KIRAN")
print("Original Tuple: ", t1)

list1 = sorted(t1)
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Original Tuple:  ('XYZ', 'ABC', 'MNO', 'KIRAN')
Ascending Sort:  ['ABC', 'KIRAN', 'MNO', 'XYZ']
Descending Sort:  ['XYZ', 'MNO', 'KIRAN', 'ABC']

### b. Custom Sorting using `sorted()` Method

**Example 1: Suppose given a tuple with elements `('ccc', 'aaaa', 'd', 'bb')` and we want to sort it by length of strings inside the tuple so that the output is like : `('d', 'bb', 'ccc', 'aaaa)`**

```
    sorted(iterable, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `sorted()` function
- The `sorted()` function will run this one argument function on all the elements of the tuple and return a single value, and build up a shadow list of those new values. 
- Suppose the one argument function in this case is the Python built-in function `len()`, which when called on every element of `tuple` will return a shadow list containing length of every string within the original tuple containing `[3,4,1,2]`
- The `sorted()` function will then sort elements of the tuple based on the values of the shadow list and returns the required sorted list :)

In [57]:
t1 = ('ccc', 'aaaa', 'd', 'bb')
sorted(t1)

['aaaa', 'bb', 'ccc', 'd']

In [59]:
#Example 1:
t1 = ('ccc', 'aaaa', 'd', 'bb')
sorted(t1, key=len,reverse=True)

['aaaa', 'ccc', 'bb', 'd']

**Example 2: Suppose given a tuple with elements `('abcz', 'xyza', 'bas', 'kiran')` and we want to sort it by last character of strings within the tuple so that the output is like : `('xyza', 'kiran', 'bas', 'abcz')`**

```
    sorted(iterable, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `sorted()` function
- The `sorted()` function will run this one argument function on all the elements of the tuple and return a single value, and build up a shadow list of those new values. 
- This time the one argument function is a user defined function that receives a string and returns its last character. When called on every element of `tuple` will return a shadow list containing only the last character of every string within the original tuple containing `['z', 'a', 's', 'f']`
- The `sorted()` function will then sort elements of the tuple based on the values of the shadow list and returns the required sorted list :)

In [ ]:
def last(s):
    return s[-1]

t1 = ('abcz', 'xyza', 'bas', 'kiran')
rv = sorted(t1, key=last)
print(rv)
print(t1)

In [61]:
tupe1 = (11,23,9)
min(tupe1)

9

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. How tuples are different from list?
2. Can you add or remove elements in a tuple?
3. How do you create a tuple with just one element?
4. How do you convert a tuple to a list and vice versa?
5. How to create a nested tuple?
6. How to find a min, max value from a tuple?
7. How to compare two tuples, without iteration? (Hint: cmp)
8. How to find the index of a specific element of a tuple?
9. How to find the count of occurrence of element in Python Tuple?
10.How to delete Tuple in Python ?