---   
---   

<h1 align="center">ExD</h1>
<h1 align="center">Course: Advanced Python Programming Language</h1>


---
<h3><div align="right">Instructor: Kiran Khursheed</div></h3>

<h1 align="center">Python Sets</h1>

## _Python-Sets.ipynb_
#### [Click me to learn more about Python Sets](https://docs.python.org/3/tutorial/datastructures.html#sets)

<img align="center" width="800" height="800"  src="images/datatypes1.png" >

> **A Set is an unordered and unindexed collection of heterogeneous items that is iterable, mutable and has no duplicate elements.**

- Like Lists, a set is created by placing comma separated values, but in curly brackets rather square brackets. 
- Like List, a set also allows us to store elements of different data types in one container.
- Like List, it is possible to add, remove, or modify values in a set.
- Any immutable data type can be an element of a set: a number, a string, a tuple. Mutable data types cannot be elements of the set.
- To be honest, this data structure is extremely useful and is underutilized by beginners, so try to keep it in mind!
- The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for membership testing and eliminating duplicate entries

## Learning agenda of this notebook
1. How to create Sets?
2. Proof of concepts: Sets are heterogeneous, un-ordered, mutable, nested, and DOES NOT allow duplicate elements
3. Accessing elements of sets?
4. Slicing a set (can't be performed as there is no index associated with set values)
5. Set concatenation and repetition (can't be performed as on list and tuples)
6. Adding/Updating elements to a set using `add()`, and `update()` methods
7. Removing elements from a set using `pop()`, `remove()` and `discard()` methods. 
8. Converting string object to set and vice-versa (using type casting, `split()` and `join()`)
9. Elements of a set cannot be sorted (being unordered)
9. Misc set methods 
10.Some Built-in functions that can be used on sets (len, max, min, sum)
11. Misc Concepts
    - Union of sets 
    - Intersection of sets 
    - Difference of sets 
    - Symmetric Difference of sets 
    - Subsets 
    - Supersets 
    - Disjoint sets

In [ ]:
help(set)

## 1. How to create Sets?
- A set is created by placing comma separated values in curly brackets `{}`. 
- The preferred of creating a set is by using `set()` method, and passing a list to it, as curly brackets are also used by dictionary object in Python.

In [31]:
s1 = {1,2,3,4,5}   #set of integers
s1 = set([1, 2, 3, 4, 5])
s1, type(s1)

({1, 2, 3, 4, 5}, set)

In [32]:
s2 = {3.7, 6.5, 3.8, 7.95}   #set of floats
s2 = set([3.7, 6.5, 3.8, 7.95])
print(s2)

{3.8, 3.7, 6.5, 7.95}

In [33]:
s3 = {"hello", "this", "F", "good show"}   #set of strings
s3 = set(["hello", "this", "F", "good show"])
print(s3)

{'good show', 'this', 'hello', 'F'}

In [34]:
s4 = {True, False, True, True, False}   #set of boolean
s4 = set([True, False, True, True, False])
print(s4)

{False, True}

In [35]:
# creating an empty set
#emptyset = {}  # this is not correct way

# to create empty set, we can use set()
s5 = set()
print(s5)
print(type(s5))

set()
<class 'set'>

## 2. Proof of concepts: Sets are heterogeneous, unordered, mutable, nested, and does not allow duplicate elements

### a. Sets are heterogeneous
- Sets are heterogeneous, as their elements/items can be of any data type

In [36]:
s1 = {"Kiran", 303, 5.5}
print("s1: ", s1)

s1:  {'Kiran', 5.5, 303}

### b. Sets are unordered
- Sets are unordered means elements of a set are NOT associated by any index
- When you access set elements they may show up in different sequence. 
- Moreover, two sets having same elements in different order 
    - have different memory addresses
    - the `is` operator compares the memory adresses
    - the `==` operator compares the contents

In [38]:
s2 = set(['learning', 'is', 'fun', 'with', 'Kiran'])
print(s2)

{'is', 'learning', 'with', 'Kiran', 'fun'}

In [39]:
a = {1, 2, 3}
b = {2, 3, 1}
id(a), id(b), a == b, a is b

(2399409232128, 2399410009248, True, False)

### c. Sets are mutable
- Yes, Python sets are mutable because the set itself may be modified, but the elements contained in the set must be of an immutable type.
- However, since sets cannot be indexed, so we can't change them using index withing subscript operator

In [41]:
numbers = set([10, 20, 30, 40, 50])
#numbers[2] = 15   # Will flag an error because set elements cannot be indxed using ubscript operator

print("numbers: ", numbers)

numbers:  {40, 10, 50, 20, 30}

### d. Sets CANNOT have duplicate elements

In [42]:
# Sets do not allow duplicate elements
# The following line will not raise an error, however, 'Kiran' will be added to the set only once
names = {'Kiran', 'Aqsa', 'Sana', 'Kiran', 'Wajeeha','Basirat','Hrm'}
print(names)

{'Hrm', 'Aqsa', 'Sana', 'Basirat', 'Kiran', 'Wajeeha'}

In [43]:
# So when we want to remove duplication from list, we typecast it to a set
mylist = [2, 4, 5, 6, 8, 7, 3, 3, 2]
print("\nList: ", mylist)
myset = set(mylist)
print("List converted to set: ", myset)

List:  [2, 4, 5, 6, 8, 7, 3, 3, 2]
List converted to set:  {2, 3, 4, 5, 6, 7, 8}

### e. Mutable data types cannot be elements of the set.

In [45]:
# You can have a number, string, and tuple type of elements inside a set (being immutable)
s1 = {"Kiran", 30, 5.5, True, (10,'Hrm')}
s1

{(10, 'Hrm'), 30, 5.5, 'Kiran', True}

In [46]:
# You cannot have a list, set or dictionary inside a set (being mutable)
s1 = {"Kiran", 30, 5.5, [10,'Hrm']}

TypeError: unhashable type: 'list'

In [48]:
# You cannot have a list, set or dictionary inside a set (being mutable)
s1 = {"Kiran", 30, 5.5, {10,'Hrm'}}

TypeError: unhashable type: 'set'

In [47]:
# You cannot have a list, set or dictionary inside a set (being mutable)
s1 = {"Kiran", 30, 5.5, {'key':'value'}}

TypeError: unhashable type: 'dict'

### e. Nested Sets
- You can have tuple inside a set
- However, you CANNOT have a list, set, and dictionary objects inside a set, because sets cannot contain mutable values
- This is one situation where you may wish to use a frozenset, which is very similar to a set except that a frozenset is immutable.

In [49]:
# Nested sets: sets can have another tuple as an item
s1 = {"Kiran", 30, 5.5, (10,'hrm')}
print(s1)

{'Kiran', 5.5, 30, (10, 'hrm')}

In [50]:
# However, you cannot have a list inside a set, , because sets cannot contain mutable values (lists are mutable)
#s1 = {"Kiran", 30, 5.5, [10,'hrm']} # Error unhashable type list

In [51]:
#Similarly, you cannot have a set within a set, because sets cannot contain mutable values (sets are mutable)
#s1 = {"Kiran", 30, 5.5, {10,'hrm'}} # Error unhashable type set

### f. Packing and Unpacking Sets

In [53]:
# you can unpack set elements
myset = set(['learning', 'is', 'fun', 'with', 'Kiran'])
print(myset)
a, b, c, d, e = myset # the number of variables on the left must match the length of set
print (a, b, c, d, e)

{'is', 'learning', 'with', 'Kiran', 'fun'}
is learning with Kiran fun

**Note the randomness, because sets are unordered**

In [54]:
# you can pack individual elements to a set
t1 = a, b, c, d, e  # By default they are packed into a tuple
set2 = set(t1)      # So you have to type cast it to set
print (set2)
print(type(set2))

{'is', 'learning', 'with', 'Kiran', 'fun'}
<class 'set'>

## 3. Different ways to access elements of a Set
- Since sets are unordered, i.e., items of a set have no associated index, therefore elements of a Set cannot be accessed by referring to an index
- However, you can access individual set elements using a for loop
- Ask if a specified value is present in a set, by using the `in` operator.

In [55]:
# Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. 
myset = set(['learning', 'is', 'fun', 'with', 'Kiran'])
myset = {'learning', 'is', 'fun', 'with', 'Kiran'}
print("myset: ", myset)

myset:  {'is', 'fun', 'with', 'Kiran', 'learning'}

In [56]:
# But you can loop through the set items using a for loop
myset = set(['learning', 'is', 'fun', 'with', 'Kiran'])
for i in myset:
    print(i, end=' ')

is learning with Kiran fun

In [57]:
# To check if a specific element is there in the set, use the in keyword
rv = 'fun' in myset
rv

True

## 4. You cannot perform Slicing on Sets
- Slicing is the process of obtaining a portion of a sequence by using its indices.
- Since no indices are associated with Set elements, so they do not support slicing or indexing in `[ ]` operator

## 5. You cannot perform Set Concatenation and Repetition
- The concatenation operator `+` and replication operator `*` does not work on sets, as there is no index associated with set elements. So concatenation and repetition using `+` and `*` operator doesnot make any sense

## 6. Adding elements to a Set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created set, whithout having to go for compiling it again. 
- If we have to add certain elements to an already created set, the original set gorws dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Cannot Modify/Add elements to a set using [ ] operator

### b. Adding elements to a set using `set.add(value)` method
- The `set.add(val)` method is used to add an element to a set
- Only one element at a time can be added to the set by using `set.add()` method
- Lists and sets cannot be added to a set as elements because they are mutable (hashable)
- Tuples can be added because tuples are immutable and hence Hashable.

In [58]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [59]:
#create an empty set
set1 = set()
set1.add(25)
set1.add(73)
set1

{25, 73}

In [60]:
# Adding an existing element
set1.add(25)
set1

{25, 73}

In [61]:
# Adding a tuple
set1.add((19,25))
print("Set after adding three elements: ", set1)

Set after adding three elements:  {73, 25, (19, 25)}

### c. Adding elements to a set using `set.add(val)` or `set.update(val)` method
- The `set.add(val)` method is used to add a single element to a set
- The `set.update(val)` method is used to add two or more elements to a set
- If the value already exist no change occur
- Lists and sets cannot be added to a set as elements because they are not hashable 
- Tuples can be added because tuples are immutable and hence Hashable.

In [ ]:
s1 = set()
help(s1.add)

In [62]:
set1 = set()
help(set1.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [63]:
# add() method is used to add a single element, passed as a list
set1 = set([4, 9, 12])
set1.add(99)
set1.add(4) # Note the duplicate element 4 will not be added twice
set1

{4, 9, 12, 99}

In [64]:
# update() method is used to add one, two or more elements, passed as a list
set1 = set([4, 9, 12])
set1.update([99])
set1.update([4, 3.5]) # Note the duplicate element 4 will not be added twice
set1

{3.5, 4, 9, 12, 99}

In [65]:
# update() method is used to add one two or more elements, passed as a list
set3 = set([4, 9, 12])
set3.update(['kiran', 'khursheed', 45])
set3

{12, 4, 45, 9, 'khursheed', 'kiran'}

In [67]:
# You cannot add a single numeric value being not iterable
set2 = set([4, 9, 12])
set2.update([33])
set2

{4, 9, 12, 33}

In [23]:
# See what happens when you add a string 
set2 = set([4, 9, 12])
set2.update('kiran')
set2

{12, 4, 9, 'a', 'i', 'k', 'n', 'r'}

In [68]:
# the update() method also accepts a list having one or more tuples as its argument
set4 = set([4, 9, 12])
set4.update([(99, 88), (44, 33)])
set4

{(44, 33), (99, 88), 12, 4, 9}

## 7. Removing elements from a set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created sets, whithout having to go for compiling it again. 
- If we have to remove certain elements from an already created set, the original set shrinks dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Removing element from a set using `set.pop(index)` method
- The `set.pop()` method removes and return an arbitrary set element

In [ ]:
s1 = set()
help(s1.pop)

In [69]:
s1 = {'learning', 'is', 'fun', 'with', 'kiran', 'khursheed'}
print("Original set: ", s1)

x  = s1.pop()
print("Element popped is: ", x)
print("Set now is: ", s1)

Original set:  {'is', 'fun', 'with', 'kiran', 'khursheed', 'learning'}
Element popped is:  is
Set now is:  {'fun', 'with', 'kiran', 'khursheed', 'learning'}

### b. Removing element from a set using `set.remove(val)` method
- The `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The remove method is passed exactly one argument, which is the value to be removed and returns none/void

In [70]:
s1 = set()
help(s1.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [72]:
s2 = set(['Welcome', 'to', 'course', 'of', 'Advanced', 'Python'])
print("\nOriginal set: ", s2)
x = s2.remove('course')
print("After remove('cource'): ", s2)
print("Return value of remove() is: ", x)

# If the element to be removed does not exist in the set remove() method will flag an error
y = s2.remove('kiran')  # Error: Element doesn’t exist in the set.

Original set:  {'Advanced', 'Welcome', 'Python', 'to', 'of', 'course'}
After remove('cource'):  {'Advanced', 'Welcome', 'Python', 'to', 'of'}
Return value of remove() is:  None

KeyError: 'kiran'

### c. Removing element from a set using `set.discard(val)` method
- The `set.discard(val)` like `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The advantage of using `set.discard(val)` method is that, if the element doesn’t exist in the set, no error is raised and the set remains unchanged.

In [ ]:
s1 = set()
help(s1.discard)

In [73]:
s2 = set(['Welcome', 'to', 'course', 'of', 'Advanced', 'Python','with','kiran'])
y = s2.discard('kiran')
s2

{'Advanced', 'Python', 'Welcome', 'course', 'of', 'to', 'with'}

In [74]:
s2 = set(['Welcome', 'to', 'course', 'of', 'Advanced', 'Python','with','kiran'])
y = s2.discard('sana')
s2

{'Advanced', 'Python', 'Welcome', 'course', 'kiran', 'of', 'to', 'with'}

### d. Using `set.clear()` method to remove all the set elements

In [75]:
#use the clear() method to empty a set
s2 = set(['Welcome', 'to', 'course', 'of', 'Advanced', 'Python'])
s2

{'Advanced', 'Python', 'Welcome', 'course', 'of', 'to'}

In [76]:
s2.clear()
s2

set()

### e. Using `del` Keyword to delete the set entirely from memory

In [77]:
# use del keyword to delete entire set, (you cannot delete a specific element as it is non-indexed)
s2 = set(['Welcome', 'to', 'course', 'of', 'Advanced', 'Python'])
s2

{'Advanced', 'Python', 'Welcome', 'course', 'of', 'to'}

In [78]:
del s2
print(s2)

NameError: name 's2' is not defined

## 8. Converting string object to set and vice-versa (using type casting, split() and join())

### a. Type Casting

In [7]:
# convert a string into set using set()
str1 = 'Learning is fun'    #this is a string
print("Original string: ", str1)

s1 = set(str1)
print("s1: ", s1, "and its type is:  ", type(s1))

Original string:  Learning is fun
s1:  {'n', 's', 'e', 'r', 'L', 'i', ' ', 'g', 'f', 'a', 'u'} and its type is:   <class 'set'>

### b. Use `str.split()` to Split a Tuple into Strings
- Used to tokenize a string based on some delimiter, which can be stored in a Tuple
- It returns a list having tokens of the string based on spaces if no argument is passed

In [ ]:
str1 = ""
help(str1.split)

In [79]:
str1 = 'Learning is fun'    #this is a string
set1 = set(str1.split(' '))
print(set1)
print(type(set1))

{'is', 'fun', 'Learning'}
<class 'set'>

In [80]:
str2 = "Advanced Python is GR8 Course"    #this is a string
set2 = set(str2.split('c'))
set2

{'Advan', 'ed Python is GR8 Course'}

### c. Use `str.join()` to Join Strings into a List
- It is the reverse of `str.split()` method, and is used to joing multiple strings by inserting the string in between on which this method is called

In [ ]:
str1 = ""
help(str1.join)

In [81]:
set1 = {'This', 'is', 'getting', 'more', 'and', 'more', 'interesting'}
set1

{'This', 'and', 'getting', 'interesting', 'is', 'more'}

In [82]:
str2 = ' '.join(set1)
print(str2)
print(type(str2))

is This more interesting getting and
<class 'str'>

In [84]:
delimiter = " # "
str3 = delimiter.join(set1)
print(str3)
print(type(str3))

is # This # more # interesting # getting # and
<class 'str'>

## 9. Elements of a Set Cannot be Sorted
- Given that sets are unordered, it is not possible to sort the values of a set. So you cannot call the built-in function `sorted()` or the `list.sort()` method on sets

## 10.  Misc Concepts

**Like Lists and Tuples, you can apply `max()`, `min()`, and `sum()` functions on Sets with numeric elements**

In [85]:
s1 = set([3, 8, 1, 6, 0, 8, 4])

print("length of set: ", len(s1))
print("max element in set: ", max(s1))
print("min element in list: ",min(s1))
print("Sum of element in list: ",sum(s1))

length of set:  6
max element in set:  8
min element in list:  0
Sum of element in list:  22

**Like Lists and Tuples, you can apply `in` and `not in` membership operators on Sets**

In [86]:
s1 = set([3, 8, 1, 6, 0, 8, 4])

rv1 = 9 in s1
print(rv1)

rv2 = 9 not in s1
print(rv2)


s2 = set(["XYZ", "ABC", "MNO", "KIRAN"])
rv3 = "KIRAN" in s2
print(rv3)

False
True
True

**Comparing Objects and Values**

In [87]:
#In case of strings, both variables str1 and str2 refers to the same memory location containing string object 'hello'
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)  # == operator is checking the contents of two strings

2399388572400 2399388572400
True
True

In [88]:
#In case of sets, both t1 and t2 refers to two different objects in the memory having same values
s1 = set([1, 2, 3])
s2 = set([1, 2, 3])
print(id(s1), id(s2))

print (s1 is s2)   # is operator is checking the memory address (ID) of two sets
print (s1 == s2)   # == operator is checking the contents of two sets element by element

2399410080000 2399410079776
False
True

## 11. Special Operations  related to Sets

### a. Union of sets
- A `s1.union(s2)` method or `s1 | s2`, returns a new set containing all values that are in s1, or s2, or both

In [ ]:
s1 = set()
s2 = set()
#help(s1 | s2)
help(s1.union)

In [89]:
set1 = {'kiran', 'khursheed'}
set2 = {'aaraizz', 'shifa', 'abdul ahad'}

set3 = set1 | set2
set3 = set1.union(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 | set2: ", set3)

set1:  {'kiran', 'khursheed'}
set2:  {'shifa', 'aaraizz', 'abdul ahad'}
set1 | set2:  {'shifa', 'aaraizz', 'kiran', 'khursheed', 'abdul ahad'}

### b. Intersection of sets
- A `s1.intersection(s2)` method or `s1 & s2`, returns a new set containing all values that are common in in s1 and s2

In [ ]:
s1 = set()
help(s1.intersection)

In [90]:
set1 = {'kiran', 'khursheed'}
set2 = {'aaraiz', 'shifa', 'abdul ahad'}

set3 = set1 & set2
set4 = set1.intersection(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 & set2: ", set4)

set1:  {'kiran', 'khursheed'}
set2:  {'aaraiz', 'abdul ahad', 'shifa'}
set1 & set2:  set()

### c. Difference of sets
- A `s1.difference(s2)` method or `s1 - s2`, returns a new set containing all values of s1 that are not there in s2

In [91]:
s1 = set()
help(s1.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [92]:
set1 = {'kiran', 'khursheed'}
set2 = {'aaraiz', 'shifa', 'abdul ahad'}

set3 = set1 - set2
set4 = set1.difference(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set3: ", set3)
print("set1 - set2: ", set4)

set1:  {'kiran', 'khursheed'}
set2:  {'aaraiz', 'abdul ahad', 'shifa'}
set3:  {'kiran', 'khursheed'}
set1 - set2:  {'kiran', 'khursheed'}

### d. Symmetric Difference of sets
- A `s1.symmetric_difference(s2)` method or `s1 ^ s2`, returns a new set containing all elements that are in exactly one of the sets, equivalent to `(s1 | s2)  - (s1 & s2)`

In [ ]:
s1 = set()
help(s1.symmetric_difference)

In [93]:
set1 = {'kiran', 'khursheed'}
set2 = {'aaraiz', 'abdul ahad', 'kiran'}

set3 = set1 ^ set2
set4 = set1.symmetric_difference(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 ^ set2: ", set4)

set1:  {'kiran', 'khursheed'}
set2:  {'kiran', 'aaraiz', 'abdul ahad'}
set1 ^ set2:  {'khursheed', 'aaraiz', 'abdul ahad'}

### e. Checking Subset
- The `s1.issubset(s2)` method or `s1 <= s2`, returns True if s1 is a subset of s2

In [27]:
s1 = set()
help(s1.issubset)

Help on built-in function issubset:

issubset(...) method of builtins.set instance
    Report whether another set contains this set.

In [94]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s1.issubset(s2))     # is s2 a subset of s1
print(s1 <= s2)            # is s2 a subset of s1

False
False

In [95]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s2.issubset(s1))     # is s2 a subset of s1
print(s2 <= s1)            # is s2 a subset of s1

True
True

### f. Checking Superset
- The `s1.issuperset(s2)` method or `s1 >= s2`, returns True if s1 is a superset of s2

In [ ]:
s1 = set()
help(s1.issuperset)

In [96]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s1.issuperset(s2)) # is s1 a superset of s2
print(s1 >= s2)          # is s1 a superset of s2

True
True

### g. Checking Disjoint
- The `s1.isdisjoint(s2)` method, returns True if two sets have a null intersection

In [ ]:
s1 = set()
help(s1.isdisjoint)

In [30]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}
print(s1.isdisjoint(s2))

# Another example
s3 = {1,2,3,4}
s4 = {5,6,7,8}
print(s3.isdisjoint(s4))

False
True